*{
    color:#fff;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: #f4783d;
}
.footernav{
    display:flex;
    justify-content: space-around;
    align-items: center;
}
h1,h2,h3,h4{
    font-family: 'Yeseva One', sans-serif;
}
h1{
    font-size: 3rem;
}

p{
    font-size:1.5rem;
}
nav{
    display:flex;
    justify-content: space-around;
    align-items: center;
    margin-top:1em;
}
.nav-links {
    display: flex;
    justify-content: space-around;
}
.nav-links li {
    list-style: none;
  
  }
  
  .nav-links a {
    color: white;
    text-decoration: none;
    padding: 14px 16px;
  }

  .index-header{
    width:85%;
    padding-left:10%
  }
  body{
    background-image: url(/images/shape-3.png);
    background-repeat: no-repeat;
    background-position: left top;
  }
 /*weird shape background*/
 /* .col-1{
    background-image: url(images/shape-1.png);
    background-repeat: no-repeat;
    background-position: 70% 50%;
    background-size: 300px 300px;
  }
  */
.h1line1{
    font-family: 'Yeseva One', sans-serif;
    font-size: 3rem;
}
.h1line2{
    font-family: 'Yeseva One', sans-serif;
    font-size: 8rem;
    line-height:0.8;
    text-indent:8.7%;
  }
.index-hero-p{
    width:55%;
    padding-left: 10%;
}
#shape1{
    position: relative;
    left: 0px;
    top: 0px;
    z-index: -1;
}
.bttns{
    padding-left: 18%;
    padding-top:30px;
    justify-content: space-between;
}
.bttns a{
    border-radius:25px;
    border-color: #fff;
    border-width: 1px;
    border-style:solid;
    transition: 0.5s;
    text-decoration: none;
    padding:10px 15px;
    margin:10px;
}
.bttns a:hover{
    color:#f4783d;
    background-color: #fff;
    opacity:1;
}

.accordion {
    background-color: antiquewhite;
    color: #f4783d;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    border-radius:10px 10px 0 0 ;
}
.accordion:hover {
    background-color: #f4783d;
    color:#fff;
}

.panel {
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
  }

.WESection{
    background-color: antiquewhite;
    padding:1em 1em;
    border-radius:10px;
    margin:2% 5%;
    box-shadow: 2px 5px 50px 0 rgba(195, 96, 49);
}
.WESection h2, .WESection h3{
    color:#f4783d;
}