*{
    color:#fff;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: #f4783d;
}
.footernav{
    display:flex;
    justify-content: space-around;
    align-items: center;
}
p{
    font-size:1.5rem;
}
nav{
    display:flex;
    justify-content: space-around;
    align-items: center;
}
.nav-links {
    display: flex;
    justify-content: space-around;
}
.nav-links li {
    list-style: none;
  
  }
  
  .nav-links a {
    color: white;
    text-decoration: none;
    padding: 14px 16px;
  }

  .index-header{
    width:85%;
    padding-left:10%
  }
  h1{
    font-family: 'Yeseva One', cursive;
    font-size: 8rem;
    line-height:0.8;
    text-indent:8.7%;
  }
.h1line1{
    font-family: 'Yeseva One', cursive;
    font-size: 3rem;
}
.index-hero-p{
    width:55%;
    padding-left: 10%;
}
#shape1{
    position: relative;
    left: 0px;
    top: 0px;
    z-index: -1;
}
.bttns{
    padding-left: 18%;
    padding-top:30px;
}
.bttns a{
    border-radius:25px;
    border-color: #fff;
    border-width: 1px;
    border-style:solid;
    transition: 0.5s;
    text-decoration: none;
    padding:10px;
    margin:5px;
}
.bttns a:hover{
    color:#f4783d;
    background-color: #fff;
    opacity:1;
}
.fa-linkedin{
    color:#fff;
}