*{
    color:#fff;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: #f4783d;
}
#index-body{
    height: 300px;
    background-image: url(images/asset-11.png);
    background-repeat: no-repeat;
    background-size: 20%;
    background-position: 50px 50px;
}
footer{
    width:100%;
    position:fixed;
    bottom:0;
}
.footernav{
    margin-top: 40px;
    display:flex;
    justify-content: space-evenly;
    align-items: center;
}
.footernav p{
    font-size: 1rem;

}
.icon{
    color:white;
    font-size:20px!important;
}
h1,h2,h3,h4{
    font-family: 'Yeseva One', sans-serif;
}
h1{
    font-size: 3rem;
}

p{
    font-size:1.5rem;
}
nav{
    display:flex;
    justify-content: space-around;
    align-items: center;
    margin-top:1em;
}
.nav-links {
    display: flex;
    justify-content: space-around;
}
.nav-links li {
    list-style: none;
  
  }
  
  .nav-links a {
    color: white;
    text-decoration: none;
    padding: 14px 16px;
  }

  .index-header{
    width:85%;
    padding-left:10%;
  }
  body{
    background-image: url(/images/shape-3.png);
    background-repeat: no-repeat;
    background-position: left top;
  }
 /*weird shape background*/
 /* .col-1{
    background-image: url(images/shape-1.png);
    background-repeat: no-repeat;
    background-position: 70% 50%;
    background-size: 300px 300px;
  }
  */
.h1line1{
    font-family: 'Yeseva One', sans-serif;
    font-size: 3rem;
}
.h1line2{
    font-family: 'Yeseva One', sans-serif;
    font-size: 8rem;
    line-height:0.8;
    text-indent:8.7%;
  }
.index-hero-p{
    width:55%;
    padding-left: 7%;
}
#shape1{
    position: relative;
    left: 0px;
    top: 0px;
    z-index: -1;
}
.bttns{
    padding-left: 15%;
    padding-top:30px;
    justify-content: space-between;
    background-color: #f4783d;
    opacity: 1;
}
.bttns a{
    border-radius:25px;
    /*border-color: #fff;
    border-width: 1px;
    border-style:solid;*/
    transition: 0.5s;
    text-decoration: none;
    padding:10px 15px;
    margin:10px;
    box-shadow:6px 6px 13px #e06e38,
             -6px -6px 13px #ff8242;
}
.bttns a:hover{
    color:#fff;
    background-color: #ff8242;
    opacity:1;
}
.shape-bg{
    height: 300px;
    width: 300px;
    background-image: url(images/asset-11.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 0 0;
    margin-left: 50px;
    z-index: -1;
}
.wrapper{
    width:80%;
    max-width: 1000px;
    display:flex;
    justify-content: center;
}
.timeline{
    list-style: none;
    padding: 20px 0 20px;
    position: relative;
    width:100%;
}
.timeline li{
    margin-bottom: 40px;
    position: relative;
    display: flex;
    justify-content: flex-end;
}
.timeline .panel{
    width: 80%;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    background-color: #f4783d;
    box-shadow: 20px 20px 30px rgba(207, 102, 52, 0.6), -20px -20px 30px rgba(255, 138, 70, 0.6)
}
.timeline p{
    padding: 0 20px 10px 20px;
    font-size: 1rem;
}
.timeline summary{
    display: block;
    user-select: none;
    cursor: pointer;
    outline: none;
    padding:20px;
    margin-bottom: 0px;
    transition: all 600ms cubic-bezier(0.2, 1, 0.3, 1);
    font-weight: 600;
}
.timeline .panel[open] summary{
    margin-bottom: 20px;
    padding-bottom: 20px;
}
.timeline summary:hover{
    background: rgba(220, 108, 55, 0.4);
}
.timeline:before{
    top:50px;
    bottom:0;
    left:8.2%;
    position:absolute;
    content:"";
    width:3px;
    border-radius: 30px;
    background-color: #fff;
    box-shadow: 1px 1px 5px #d9d9d9,
    -1px -1px 2px #fff;
}
.timeline li:before{
    content:"";
    width: 15px;
    height: 15px;
    border-radius: 50%;
    position: absolute;
    top:26px;
    left:8%;
    background: #cf3419;
    margin-left: -5px;
    z-index:99;
    box-shadow: 2px 2px 5px #cf6634,
     -2px -2px 5px #ff8a46;
}
.WESection{
    background-color: #f4783d;
    padding:1em 1em;
    border-radius:10px;
    margin:2% 5%;
    box-shadow: 20px 20px 30px #cf6634,
     -20px -20px 30px #ff8a46;
}
#WES1{
    width: 50%;
}
